<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestamo</title>
 <!-- librerias -->
 <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/litera/bootstrap.min.css" rel="stylesheet">
 <!-- ajax -->
 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
 <!-- Script -->
 <script src='../js/Prestamo.js'></script>
</head>
<body>
 <div class="container">
     <div id="inputData">
         <form>
             <fieldset>
                 <legend>Prestamo Details</legend>
                 <div class="form-group row">
                     <label class="col-sm-2 col-form-label">Fecha del Prestamo</label>
                     <div class="col-sm-10">
                         <input type="hidden" name="id" id="id" value="">
                         <input type="date" class="form-control" name="fechaPrestamo" id="fechaPrestamo" value="" placeholder="fechaPrestamo">
                     </div>
                 </div>

                 <div class="form-group row">
                     <label class="col-sm-2 col-form-label">Fecha devolucion esperada</label>
                     <div class="col-sm-10">
                         <input type="date" class="form-control" name="fechaDevolucionEstimada" id="fechaDevolucionEstimada" value="" placeholder="fechaDevolucionEstimada">
                     </div>
                 </div>

                

                 <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Ejemplar Id</label>
                    <div class="col-sm-10"></div>
                    <select class="form-select" id="ejemplar">
                        <option selected>--Seleccione mano--</option>
                        
                    </select>
                </div>
                 
                 <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Usuario Id</label>
                    <div class="col-sm-10"></div>
                    <select class="form-select" id="usuario">
                        <option selected>--Seleccione mano--</option>
                        
                    </select>
                </div>


                <div class="col-sm-10">
                </br>
                <select class="form-select" id="state">
                    <option selected>--Seleccione--</option>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>
        </div>

                </fieldset>
            </form>
    </div>
    <div id="buttonData">
        <br>
        <button name="btnAgregar" onclick="save()" class="btn btn-success">Agregar</button>
    </div>
    <div id="outputData">
        <br>
        <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Fecha Prestamo </th>
                    <th>Fecha devolucion </th>
                    <th>Usuario Id </th>
                    <th>Ejemplar Id </th>
                    <th>State</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody id="resultData">
            </tbody>
        </table>
    </div>
   </div>
    
</body>

<script>
    loadData();
    loadSelects()
    </script>
</html>